        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
            <div class="container">
                <a class="navbar-brand" href="/">Hogwarts DBMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/data-wizard">Data Wizard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/schema">Database Schema</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/visualizations">Visualizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/performance">Performance Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/db_operations">DB Operations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> 